fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
qrcode[pil]
python-dotenv
alembic
httpx
pydantic[email]
psycopg2-binary
razorpay 
httpx
psycopg2
razorpay


# ai_service requiremenst 
fastapi
uvicorn[standard]
ultralytics
opencv-python
pillow
numpy
python-multipart
distutils-pytest
ultralytics